a {
  text-decoration: none;
  color: #000;
}
li{
  list-style: none;
}
p{
  margin: 0px;
  padding: 0px;
}
ul {
  padding: 0;
  margin: 0;
}
body {
    font-family: "Overlock", sans-serif;
    background: #6c8a70;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    margin: 0;
    padding: 15px;
}
/* --- container: login, signup ve index için ortak yapı --- */
.container-home {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  height: 95vh; /* Tüm ekran boyunu kapla */
  overflow: hidden; 
  margin: 0px;

}
h1,h2 {
    color: #6a6868;
    font-size: 1.8em;
    text-align: center;
    
}
.side-bar{
  height: 95vh; /* Sabit yüksekliği koru */
  overflow: hidden; /* Kaymasın */
  padding: 10px;
  background-color: #d3d4ce;
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.icon{
  width: 30px;
  height: 30px;
}
.btn{
  background-color: #fff;
  border: 2px solid #00000014;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  transition: background-color .1s ease;
  white-space: nowrap;
  color: black;
  text-align: center;
  margin-block: 10px;
}
#logoutBtn {
  display: none;
}
.side-style{
  display: flex;
  justify-content:left;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
}
#homeBtn, #searchBtn , .settingsBtn{
  background-color: transparent;
  border: none;
}
#main-container{
  width: 90%;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.header, .header-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aec2b9;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 340px;
  background-position: center;
}
.header{
  background-image: url('/static/images/pin6.jpg');
}
.header-search {
  background-image: url('/static/images/dontUse.png');
}
.mainGeneral{
  position: relative;
  width: 100%;
  height: 17vh;
  overflow: hidden;
  margin-bottom: 40px;

}
.mainFirstpart{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Playfair Display', serif;
  color: #1f4037;
}
.mainFirstpartSearch{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-family: 'Playfair Display', serif;
  color: #1f4037;
}
.maintext, .searchText{
  font-size: 4.5rem;
  font-weight: bold;
}
.maintext-2 {
  font-size: 4rem;
  color: #6bbf59; /* pastel yeşil */
  font-weight: bold;
  letter-spacing: 1px;

}
.subtext, .searchSubtext{
  font-size: 1.8rem;
  color: #3f5f4b; /* daha açık bir yeşil tonu veya pastel gri yeşil */
  margin-top: 20px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}

.download-image-container{
  margin-block: 50px;
}
.download-subtitle{
  text-align: center;
}

.images{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-block: 40px;
  gap: 40px;
}
.file-btn {
  margin-bottom: 30px ;
  
}
input[type="file"]::file-selector-button {
  padding: 20px 25px;
  background-color: #6c8a70;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

input[type="file"]::file-selector-button:hover {
  background-color: #96af99;
}

input[type="file"] {
  font-family: sans-serif;
}
#previewYanak, #previewOnden {
  width: 500px;
  height: 530px;
}
#analyzeBtn,  #viewResultsBtn {
  background-color: #6c8a70;
  color: white;
  border: none;
  padding: 25px 35px;
  border-radius: 6px; 
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.ResultsContainer {
}

.analyzeContainer {
  position: relative;
  width: 100%;
  height: 17vh;
  overflow: hidden;
  margin-bottom: 40px;
  
}
.analyzeStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aec2b9;
  background-image: url('/static/images/analiz.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 340px;

}
.analyzeImg {
  top: 0px;
  left: 0px;
  width: 600px;
  height: 550px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.analyzeText{
  text-align: center;
  position: absolute;
  top: 58%;
  left: 28%;
  transform: translate(-50%, -50%);
  font-family: 'Playfair Display', serif;
  color: #1f4037;
}
#viewResultsBtn {
  display: block;
  margin: 0 auto;
}

#icerik-onerileri {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  background: #fff;
  border-radius: 10px;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  overflow-x: auto;       /* Yatay scroll */
  overflow-y: hidden; 
}
.urun-tipi-container{
  border: 2px solid #c6bebe;
  border-radius: 10px;
  padding-block: 10px;
  padding-inline: 25px;
  background: #fff;
  min-width: 200px;
  flex-shrink: 0;  /* kutular küçülmesin */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.urun-tipi {

}

.avoid {
  background-color: #ec9999;
  border: 1px solid #d86262;
  padding: 10px;
}

.avoid > ul > li{
  border: 1px solid #783535;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px;
}

#search-container{
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.searchInfoText, #ingredientResults {
  font-size: 1.2rem;
  margin-top: 10px;
  background-color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}
.logo-container{
  margin: 0 auto;
  border-radius: 10px;
  margin: 0px;
}
.logo {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  
}
nav a {
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
/* --- Input alanları --- */
input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px 8px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}
nav a:hover {
    color: white;
}
#loginError {
    display: none;
    margin-top: 15px;
  }

/* Uyarı kutusu için stil */
#errorBox {
  display: flex;
  align-items: center;
  background-color: #ffe6e6;
  color: #cc0000;
  border: 1px solid #cc0000;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  animation: shake 0.4s ease;
}

/* Uyarı ikonu */
#errorIcon {
  margin-right: 10px;
  font-size: 18px;
}

/* Shake animasyonu */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
/* Login hatası için aynı görünüm */
#errorBoxLogin {
  display: flex;
  align-items: center;
  background-color: #ffe6e6;
  color: #cc0000;
  border: 1px solid #cc0000;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  animation: shake 0.4s ease;
}

#errorIconLogin {
  margin-right: 10px;
  font-size: 18px;
}

#fileInput {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px dashed #c7a1f6;
    border-radius: 10px;
    background: #ecf0f1;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
}

#fileInput:hover {
    background: #d6eaf8;
    border-color: #d8d5e6;
}


#preview {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

#logoutBtn{
    background: #5c5c5c;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1em;
    font-family: "Overlock", sans-serif;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}


#analyzeBtn:hover,
#logoutBtn:hover,
#viewResultsBtn:hover {
    background: #d1b9e6;
    transform: scale(1.05);
}


#result {
    margin-top: 20px;
    font-size: 1.2em;
    padding: 20px 40px;
    border-radius: 8px;
    background: #d3d4ce;
    color: #8f8e8e;
    font-family: "Overlock", sans-serif;
}

.instructions {
    font-family: "Overlock", sans-serif;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: #333;
    font-size: 18px;
    
}
.instructions ul {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  flex-direction: row;
  row-gap: 20px;
  column-gap: 30px;
}

.instructions h2 {
    font-family: "Overlock", sans-serif;
    margin-bottom: 10px;
    font-size: 30px;
    color: #5a5858;
    border-bottom: 2px solid #5a5858;
}

.instructions ul {
    color: #8f8e8e;
    list-style: none;
    padding: 0;
}

.instructions li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    padding-inline: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.instructions li:hover {
    background-color: #f0f0f5;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.instructions li img{
  margin: 0 auto;
  margin-block: 10px;
}
.instructions li div{
  text-align: center;
}
.instructions li span {
    margin-top: 10px;
}


.instructions .icon {
    font-size: 24px;
    margin-right: 10px;
    min-width: 30px;
}

.icon-img {
    width: 70px;
    height: 70px;
}

  
#icerik-onerileri .kart {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background: #f0f0f5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#urun-onerileri > .kart{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

#urun-onerileri > .kart:hover {
  background-color: #a4cb23;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.kart.iyi {
    border-left: 5px solid green;
    background-color: #e6ffe6;
  }
  
  .kart.kotu {
    border-left: 5px solid red;
    background-color: #ffe6e6;
  }

.ingredient-card {
  display: flex;
  gap: 50px;
  align-items: center;
  background-color: #f8fef8;
  border: 1px solid #d8e8d8;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
}
.line-container {
  position: absolute;
  top: 120px;
  left: 140px;
  width: 120px !important;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ball {
  width: 10px;
  height: 10px;
  background-color: #6c8a70;
  border-radius: 50%;
}
.line {
  width: 300px;
  height: 2px;
  background-color: #6c8a70;
}

.ingredient-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 80, 0, 0.1);
}

.ingredient-card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 20px;
}

.ingredient-info {
  display: flex;
  flex-direction: column;
}

.ingredient-name {
  font-weight: 700;
  font-size: 1.1rem;
  color: #215e42;
}

.ingredient-description {
  font-size: 0.95rem;
  color: #4a4a4a;
}



@media only screen and (max-width: 1350px) {

  .analyzeText {
    top: 49%;
    left: 27%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem; /* Yazı boyutunu küçült */
  }

}
  
@media screen and (max-width: 1200px){
  /* Bu blok içindeki CSS'ler telefon gibi dar ekranlarda geçerli olur */
  .container-home {
    flex-direction: column; /* Dikey hizalama */
    height: auto; /* Yüksekliği otomatik yap */
  }

  .side-bar{
    padding: 10px;
    background-color: #d3d4ce;
    border-radius: 10px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: auto; /* Yüksekliği otomatik yap */
  }
  .logo-container {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
  }
  .side-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #main-container, #search-container {
    margin-top: 30px;
    width: 100%;
    height: auto; /* Yüksekliği otomatik yap */
    overflow-y: auto; /* Yatay kaydırma çubuğunu kaldır */
  }

  .images {
    flex-direction: column; /* Dikey hizalama */
    align-items: center; /* Ortala */
    gap: 20px; /* Aralığı artır */
  }
  #previewYanak, #previewOnden {
    width: 400px;
    height: 400px;
  }
  .analyzeText {
    top: 48%;
    left: 27%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem; /* Yazı boyutunu küçült */
  }
  #result {
    font-size: 20px;
    padding: 15px 20px; /* Padding'i azalt */
    margin-top: 10px; /* Margin'i azalt */
  }

  #search-container{
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {

  .analyzeText {
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem; /* Yazı boyutunu küçült */
  }

}

@media only screen and (max-width: 900px) {

  .analyzeText {
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem; /* Yazı boyutunu küçült */
  }
  #icerik-onerileri {
    flex-direction: column; /* Dikey hizalama */
    align-items: center; /* Ortala */
    padding-inline: 0px;
    gap: 30px; /* Aralığı artır */
    padding-block: 20px;
  }
  .urun-tipi-container{
    width: 50%; /* Her kutu tam genişlikte */
    text-align: center;
    
  }
  .urun-tipi {

  }

}

@media only screen and (max-width: 768px) {

  .analyzeStyle {
    background-position: start;
  }

  .analyzeText {
    left: 44%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem; /* Yazı boyutunu küçült */
  }

  .instructions ul {
    grid-template-columns: repeat(1,1fr);
  }

  .side-bar{
    justify-content: center;
    flex-direction: column;
  }
  .searchText{
    font-size: 3.0rem;
  }
  .searchSubtext{
    font-size: 1.1rem;
  }
}


@media only screen and (max-width: 600px) {

  .analyzeText {
    left: 52%;
  }

}
  